<article class="article">
	<div class="article-meta">
    <header class="article-meta-title">
      <h2><%- post.title %></h2>
    </header>
    <% if (post.layout !== "hide"){ %>
    <div class="article-meta-detail">
        <div>
            <i class="fa fa-paper-plane-o"></i>
          <span><%= theme.author %></span>
        </div>
        <div><i class="fa fa-calendar-o"></i>
          <span><%= post.date.year() %></span>-<span><%= post.date.month()+1 %></span>-<span><%= post.date.date() %></span>
        </div>
        <div>
          <i class="fa fa-tag"></i>
          <span>
            <% if (post.tags && post.tags.length){ %>
            <% var tags = [];
                post.tags.forEach(function(tag){
                tags.push(tag.name);
            });%>
            <%- tags.join('·') %>
            <% } %>
          </span>
        </div>
    </div>
    <% } %>
  </div>
  <div class="article-content">
      <%- post.content %>
  </div>
  <% if (post.layout !== "hide"){ %>
    <div><%- partial('_widget/end-line') %></div>
  <% } %> 
  <div><%- partial('_partial/guide',{prev: post.prev, next: post.next}) %></div>
</article>