<%- partial('_partial/head') %>
<body>
  <div id="particles-js"></div>
  <div id="container">
    <div id="wrap">
      <div class="outer">
        <%- partial('_partial/header') %>
        <section id="main"><%- body %></section>            
      </div>
    </div>
  </div>
  <%- partial('_partial/footer') %>
  <%- partial('_widget/back-to-top.ejs')%>
  <%- partial('_partial/after-footer.ejs')%>
</body>
</html>